<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.toycar.hotelserver.mapper.ExpenditureMapper" >
  <resultMap id="BaseResultMap" type="com.toycar.hotelserver.pojo.Expenditure" >
    <id column="exp_id" property="expId" jdbcType="VARCHAR" />
    <result column="exp_date" property="expDate" jdbcType="DATE" />
    <result column="exp_price" property="expPrice" jdbcType="DECIMAL" />
    <result column="exp_type" property="expType" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Base_Column_List" >
    exp_id, exp_date, exp_price, exp_type
  </sql>
  <select id="SelectAll" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from _expenditure
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from _expenditure
    where exp_id = #{expId,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from _expenditure
    where exp_id = #{expId,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.toycar.hotelserver.pojo.Expenditure" >
    insert into _expenditure (exp_id, exp_date, exp_price, 
      exp_type)
    values (#{expId,jdbcType=VARCHAR}, #{expDate,jdbcType=DATE}, #{expPrice,jdbcType=DECIMAL}, 
      #{expType,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.toycar.hotelserver.pojo.Expenditure" >
    insert into _expenditure
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="expId != null" >
        exp_id,
      </if>
      <if test="expDate != null" >
        exp_date,
      </if>
      <if test="expPrice != null" >
        exp_price,
      </if>
      <if test="expType != null" >
        exp_type,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="expId != null" >
        #{expId,jdbcType=VARCHAR},
      </if>
      <if test="expDate != null" >
        #{expDate,jdbcType=DATE},
      </if>
      <if test="expPrice != null" >
        #{expPrice,jdbcType=DECIMAL},
      </if>
      <if test="expType != null" >
        #{expType,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.toycar.hotelserver.pojo.Expenditure" >
    update _expenditure
    <set >
      <if test="expDate != null" >
        exp_date = #{expDate,jdbcType=DATE},
      </if>
      <if test="expPrice != null" >
        exp_price = #{expPrice,jdbcType=DECIMAL},
      </if>
      <if test="expType != null" >
        exp_type = #{expType,jdbcType=INTEGER},
      </if>
    </set>
    where exp_id = #{expId,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.toycar.hotelserver.pojo.Expenditure" >
    update _expenditure
    set exp_date = #{expDate,jdbcType=DATE},
      exp_price = #{expPrice,jdbcType=DECIMAL},
      exp_type = #{expType,jdbcType=INTEGER}
    where exp_id = #{expId,jdbcType=VARCHAR}
  </update>
</mapper>