<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.toycar.hotelserver.mapper.ExpTypeMapper" >
  <resultMap id="BaseResultMap" type="com.toycar.hotelserver.pojo.ExpType" >
    <id column="exp_type" property="expType" jdbcType="INTEGER" />
    <result column="exp_desc" property="expDesc" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    exp_type, exp_desc
  </sql>
  <select id="SelectAll" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from _exp_type
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from _exp_type
    where exp_type = #{expType,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from _exp_type
    where exp_type = #{expType,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.toycar.hotelserver.pojo.ExpType" >
    insert into _exp_type (exp_type, exp_desc)
    values (#{expType,jdbcType=INTEGER}, #{expDesc,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.toycar.hotelserver.pojo.ExpType" >
    insert into _exp_type
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="expType != null" >
        exp_type,
      </if>
      <if test="expDesc != null" >
        exp_desc,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="expType != null" >
        #{expType,jdbcType=INTEGER},
      </if>
      <if test="expDesc != null" >
        #{expDesc,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.toycar.hotelserver.pojo.ExpType" >
    update _exp_type
    <set >
      <if test="expDesc != null" >
        exp_desc = #{expDesc,jdbcType=VARCHAR},
      </if>
    </set>
    where exp_type = #{expType,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.toycar.hotelserver.pojo.ExpType" >
    update _exp_type
    set exp_desc = #{expDesc,jdbcType=VARCHAR}
    where exp_type = #{expType,jdbcType=INTEGER}
  </update>
</mapper>